<!-- 
  DIRECTIVAS
  Son elementos que se aplica a etiquetas HTML que añaden funcionalidades a la etiqueta donde
  se aplican. 
  Nos permitiran modificar la estructura del DOM, su apariencia.
  Tipos de directivas:
  - Componente (Angular(@Component, @Module), Personalizadas(Custom))
  - Estructural (ngClass, ngStyle, ngModel)
  - Atributo (ngIf, ngFor, nfSwitch, ngPlural, ngTemplate, ngComponentOutlet)
-->
<div>
  <h1>Directivas</h1>
  <form>
    <input type="text" name="nombre" [(ngModel)]="nombre">
    <br/>
    <input type="text" name="apellido" [(ngModel)]="apellido">
    <br/>
    <input type="button" value="Registrar" (click)="RegistrarUsuario()">
  </form>
  <!-- Directiva ngIf y uso del else -->
  <p *ngIf="registrado == true else sinRegistro">{{ mensaje }} con el nombre de {{ nombre }} {{ apellido }}.</p>

  <!-- ng-template no renderiza nada por defecto -->
  <ng-template #sinRegistro>
    <p>No hay nadie registrado.</p>
  </ng-template>

  <br>

  <!-- Directiva ngFor -->
  <ul>
    <li *ngFor="let entrada of entradas; let i=index">{{ entrada.titulo }} nro. entrada {{ i }}</li>
  </ul>
</div>

