<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#" routerLink="/inicio">Inicio</a>
        <a class="nav-link" href="#" routerLink="/proyectos">Proyectos</a>
        <a class="nav-link" href="#" routerLink="/quienes-somos">¿Quiénes somos?</a>
        <a class="nav-link" href="#" routerLink="/contacto">Contacto</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>






<!-- Practicando conceptos -->
<!-- <div>
  <h1>Yo soy app-component</h1>
  <app-empleados></app-empleados>
  <app-empleado-b></app-empleado-b>
  <app-empleado-c></app-empleado-c>
  <app-empleado-d></app-empleado-d>
  <app-empleado-e></app-empleado-e>
  <br/>
  <br/>
  <app-directivas></app-directivas>
  <app-directivas2></app-directivas2>
  <br>
  <br>
  <app-comunicar-comp></app-comunicar-comp>
</div> -->
